

/*--------------------------- postion related global css style ---------------------------*/
.absolute{ position: absolute; }
.relative { position: relative !important; }
.fixed{ position: fixed !important; }

/*--------------------------- postion related global css style ---------------------------*/


/*--------------------------- padding related global css style ---------------------------*/
.no-padding { padding: 0 !important; }

.padding-top-off{ padding-top: 0 !important; }
.padding-right-off{ padding-right: 0 !important; }
.padding-bottom-off{ padding-bottom: 0 !important; }
.padding-left-off{ padding-left: 0 !important; }

.padding-auto-x{ padding: 0 1rem !important;}

.padding-0-5x { padding: 0.5rem !important; }
.padding-x { padding: 1rem !important; }
.padding-1-5x { padding: 1.5rem !important; }
.padding-2x { padding: 2rem !important; }
.padding-3x { padding: 3rem !important; }
.padding-4x { padding: 4rem !important; }
.padding-5x { padding: 5rem !important; }
.padding-9x { padding: 9rem !important; }

.padding-top-0-5x { padding-top : 0.5rem !important; }
.padding-top-x { padding-top : 1rem !important; }
.padding-top-1-5x { padding-top : 1.5rem !important; }
.padding-top-2x { padding-top : 2rem !important; }
.padding-top-2-5x { padding-top : 2.5rem !important; }
.padding-top-3x { padding-top : 3rem !important; }
.padding-top-3-5x { padding-top : 3.5rem !important; }
.padding-top-4x { padding-top : 4rem !important; }
.padding-top-5x { padding-top : 5rem !important; }
.padding-top-6x { padding-top : 6rem !important; }

.padding-right-0-5x { padding-right: 0.5rem !important; }
.padding-right-x { padding-right: 1rem !important; }
.padding-right-1-5x { padding-right: 1.5rem !important; }
.padding-right-2x { padding-right: 2rem !important; }
.padding-right-2-5x { padding-right: 2.5rem !important; }
.padding-right-3x { padding-right: 3rem !important; }
.padding-right-3-5x { padding-right: 3.5rem !important; }
.padding-right-4x { padding-right: 4rem !important; }
.padding-right-5x { padding-right: 5rem !important; }

.padding-bottom-0-5x { padding-bottom : 0.5rem !important; }
.padding-bottom-x { padding-bottom : 1rem !important; }
.padding-bottom-1-5x { padding-bottom : 1.5rem !important; }
.padding-bottom-2x { padding-bottom : 2rem !important; }
.padding-bottom-2-5x { padding-bottom : 2.5rem !important; }
.padding-bottom-3x { padding-bottom : 3rem !important; }
.padding-bottom-3-5x { padding-bottom : 3.5rem !important; }
.padding-bottom-4x { padding-bottom : 4rem !important; }

.padding-left-0-5x { padding-left: 0.5rem !important; }
.padding-left-x { padding-left: 1rem !important; }
.padding-left-1-5x { padding-left: 1.5rem !important; }
.padding-left-2x { padding-left: 2rem !important; }
.padding-left-2-5x { padding-left: 2.5rem !important; }
.padding-left-3x { padding-left: 3rem !important; }
.padding-left-3-5x { padding-left: 3.5rem !important; }
.padding-left-4x { padding-left: 4rem !important; }
.padding-left-5x { padding-left: 5rem !important; }
.padding-left-13-per{ padding-left: 13% !important;}

/*--------------------------- padding related global css style ---------------------------*/


/*--------------------------- margin related global css style ---------------------------*/
.auto{ margin: 0 auto !important; }

.no-margin { margin: 0 !important; }

.margin-top-off { margin-top: 0 !important; }
.margin-right-off{ margin-right: 0 !important; }
.margin-bottom-off { margin-bottom: 0 !important; }
.margin-left-off{ margin-left: 0 !important; }

.margin-top-0-5x { margin-top: 0.5rem !important; }
.margin-top-x { margin-top: 1rem !important; }
.margin-top-1-5x { margin-top: 1.5rem !important; }
.margin-top-2x { margin-top: 2rem !important; }
.margin-top-2-5x { margin-top: 2.5rem !important; }
.margin-top-3x { margin-top: 3rem !important; }
.margin-top-4x { margin-top: 4rem !important; }
.margin-top-5x { margin-top: 5rem !important; }
.margin-top-10x { margin-top: 10rem !important; }

.margin-right-0-2x { margin-right: 0.2rem !important; }
.margin-right-0-5x { margin-right: 0.5rem !important; }
.margin-right-x { margin-right: 1rem !important; }
.margin-right-2x { margin-right: 2rem !important; }
.margin-right-3x { margin-right: 3rem !important; }
.margin-right-4x { margin-right: 4rem !important; }
.margin-right-5x { margin-right: 5rem !important; }

.margin-bottom-0-2x { margin-bottom: 0.2rem !important; }
.margin-bottom-0-5x { margin-bottom: 0.5rem !important; }
.margin-bottom-x { margin-bottom: 1rem !important; }
.margin-bottom-x-5x { margin-bottom: 1.5rem !important; }
.margin-bottom-2x { margin-bottom: 2rem !important; }
.margin-bottom-2-5x { margin-bottom: 2.5rem !important; }
.margin-bottom-3x { margin-bottom: 3rem !important; }
.margin-bottom-4x { margin-bottom: 4rem !important; }
.margin-bottom-5x { margin-bottom: 5rem !important; }
.margin-bottom-10x { margin-bottom: 10rem !important; }

.margin-left-0-2x { margin-left: 0.2rem !important; }
.margin-left-0-5x { margin-left: 0.5rem !important; }
.margin-left-x { margin-left: 1rem !important; }
.margin-left-1-5x { margin-left: 1.5rem !important; }
.margin-left-2x { margin-left: 2rem !important; }
.margin-left-3x { margin-left: 3rem !important; }
.margin-left-4x { margin-left: 4rem !important; }
.margin-left-5x { margin-left: 5rem !important; }
.margin-left-10x { margin-left: 10rem !important; }



/*--------------------------- margin related global css style ---------------------------*/

/*--------------------------- display related global css style ---------------------------*/
.block{ display: block !important; }
.grid{ display: grid !important; }
.flex{ display: flex !important; }
.inline-block { display: inline-block !important; }
.overflow { overflow: hidden; }

/*--------------------------- display related global css style ---------------------------*/


/*--------------------------- font related global css style ---------------------------*/
.lowercase{ text-transform: lowercase !important; }
.uppercase{ text-transform: uppercase !important; }
.no-text-transform{ text-transform: none !important; }
.underline{ text-decoration: underline; }
.no-underline{ text-decoration: none; }

.italic{ font-style: italic; }


.light{ font-weight: 400 !important; }
.bold { font-weight: 500 !important; }
.bolder { font-weight: 600 !important; }

.large-font{ font-size: large !important; }
.font-x { font-size: 10px !important; }
.font-1-1x { font-size: 11px !important; }
.font-1-2x { font-size: 12px !important; }
.font-1-3x { font-size: 13px !important; }
.font-1-4x { font-size: 14px !important; }
.font-1-5x { font-size: 15px !important; }
.font-1-6x { font-size: 16px !important; }
.font-1-7x { font-size: 17px !important; }
.font-1-8x { font-size: 18px !important; }
.font-1-9x { font-size: 19px !important; }
.font-2x { font-size: 20px !important; }
.font-2-3x { font-size: 23px !important; }
.font-2-4x { font-size: 24px !important; }
.font-2-5x { font-size: 25px !important; }
.font-2-6x { font-size: 26px !important; }
.font-3x { font-size: 30px !important; }
.font-3-2x { font-size: 32px !important; }
.font-3-5x { font-size: 35px !important; }
.font-4x { font-size: 40px !important; }
.font-4-8x { font-size: 48px !important; }
.font-5x { font-size: 50px !important; }
.font-6x { font-size: 60px !important; }
.font-7x { font-size: 70px !important; }

/*--------------------------- font related global css style ---------------------------*/


/*--------------------------- self-position related global css style ---------------------------*/
.top-off{ top: 0 !important; }
.right-off{ right: 0 !important; }
.bottom-off{ bottom: 0 !important; }
.left-off{ left: 0 !important; }

.top-0-5x{ top: 0.5rem; }
.top-x{ top: 1rem; }
.top-1-5x{ top: 1.5rem; }
.top-2x{ top: 2rem; }
.top-2-5x{ top: 2.5rem; }
.top-3x{ top: 3rem; }
.top-3-5x{ top: 3.5rem; }

.right-0-5x { right: 0.5rem; }
.right-x { right: 1rem; }
.right-1-5x { right: 1.5rem; }
.right-2x { right: 2rem; }

.bottom-0-5x{ bottom: 0.5rem; }
.bottom-x{ bottom: 1rem; }
.bottom-1-5x{ bottom: 1.5rem; }

.left-0-5x { left: 0.5rem; }
.left-x { left: 1rem; }
.left-1-5x { left: 1.5rem; }
.left-2x { left: 2rem; }
.left-3x { left: 3rem; }


/*--------------------------- self-position related global css style ---------------------------*/


/*--------------------------- border related global css style ---------------------------*/
.no-border{ border: 0 !important; }

.border-bottom-off{ border-bottom: 0 !important; }

.border-x { border: 1px solid #ccc !important; }

.thin-border { border: 1px solid #e2e2e2 !important; }

.border-top-x{ border-top: 1px solid #ececec; }
.border-top-2x{ border-top: 2px solid #ececec !important; }

.border-right-x{ border-right: 1px solid #ececec; }

.border-bottom-x{ border-bottom: 1px solid #efefef; }
.border-bottom-2x{ border-bottom: 2px solid #ccc !important; }

.border-left-x{ border-left: 1px solid #ececec; }

.border-grey-x { border: 1px solid #eee !important; }
.border-grey-3x { border: 3px solid #eee !important; }
.border-grey-x-dashed { border: 1px dashed #ccc !important; }
.border-grey-2x-dashed { border: 2px dashed #ccc !important; }

.border-dark { border: 1px solid #eee !important; }

.border-blue-x { border: 1px solid #3D5AFE !important; }
.border-blue-2x { border: 2px solid #3D5AFE !important; }
.border-blue-x-dashed { border: 1px dashed #3D5AFE !important; }
.border-blue-2x-dashed { border: 2px dashed #3D5AFE !important; }

/*.error{ border: 1px solid red !important; }
.success{ border: 1px solid green !important; }*/

.border-radius-off { border-radius: 0px !important; }
.border-radius-2x{ border-radius: 2px !important; }
.border-radius-5x{ border-radius: 5px !important; }
.border-radius-10x{ border-radius: 10px !important; }


/*--------------------------- border related global css style ---------------------------*/


/*--------------------------- height & width related global css style ---------------------------*/
.half-width{ width: 50% !important; }
.full-width{ width: 100% !important; }
.full-height{ height: 100% !important; }

/*--------------------------- height & width related global css style ---------------------------*/


/*--------------------------- float related global css style ---------------------------*/
.float{ float: none !important; }
.left{ float: left; }

/*--------------------------- float related global css style ---------------------------*/

.line-height-x { line-height: 1rem !important; }
.line-height-2x { line-height: 2rem !important; }
.line-height-3x { line-height: 3rem !important; }
.line-height-4x { line-height: 4rem !important; }
.line-height-5x { line-height: 5rem !important; }
.no-shadow{ box-shadow: none !important; }



.clear{ clear: both; }

.loader-opacity{ opacity: 0.95; }



.circle{ border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; }

.no-scroll{ overflow: hidden; }

i.custom { font-size: 3rem !important; }

.no-pointer{ pointer-events: none; }

.pointer { cursor: pointer !important; }

.no-cursor{ cursor: default !important; }

.overflow-auto { overflow: auto !important; }

.no-box-shadow { box-shadow: none; }
.box-shadow{ box-shadow: 0px 4px 4px -2px rgba(0,0,0,0.3) !important; }

.high-z-index{ z-index: 999; }
.mid-z-index{ z-index: 1; }
.low-z-index{ z-index: -1; }

.text-justify{ text-align: justify; }
.text-center{ text-align: center; }
.text-right{ text-align: right; }


.material-tooltip ul{
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    min-width: 320px;
}
.material-tooltip ul li{
    list-style-type: circle;
    left: 20px;
    font-weight: bolder;
    position: relative;
}


form span.error.message{
    top: -10px;
}
.vertical-align-top{
    vertical-align:top;
}
.vertical-align-middle{
    vertical-align: middle;
}
span.required.asterisk{
    top: -25px;
    left: 120px;
}

ul li.disc-style-type{
    list-style-type: disc;
}

.no-height { height: 0 !important; }
.unset-height { height: unset !important; }
.overflow-hidden { overflow: hidden !important; }






