/* Custom Stylesheet */

body {
    font-family: 'Poppins', sans-serif;
    color: #212529;
    background: #00c6ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



.education { padding-top: 1rem; padding-bottom: 1rem; }

/*----------------Menu Style Starts Here-----------------*/
.header {  position: absolute; z-index: 9999; top: 8%; left: 1%; }
.top-menu a { font-size: 12px; position: relative; }
.top-menu a::before { content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 1px; background: -moz-radial-gradient(top, ellipse cover, rgba(197, 202, 213, 0.7) 0%, rgba(255, 255, 255, 0) 70%); background: -webkit-radial-gradient(top, ellipse cover, rgba(197, 202, 213, 0.7) 0%, rgba(255, 255, 255, 0) 70%); background: radial-gradient(ellipse at top, rgba(197, 202, 213, 0.7) 0%, rgba(255, 255, 255, 0) 70%); }
.top-menu .nav-link { padding: 1.25rem 0.5rem; color: #212529; }
.top-menu .nav-link.active { color: #1565C0 !important; }
/*----------------Menu Style Ends Here-----------------*/

/*----------------Profile Style Starts Here-----------------*/
.profile-background { position: absolute; background: linear-gradient(135deg, rgba(8, 86, 193, 0.4) 0%, rgba(8, 86, 193, 0.01) 100%); top: -15px; left: -15px; }
.profile { -webkit-box-shadow: 5px 0px 20px -5px rgba(33,37,41,0.5); -moz-box-shadow: 5px 0px 20px -5px rgba(33,37,41,0.5); box-shadow: 5px 0px 20px -5px rgba(33,37,41,0.5); z-index: 99; }
.profile-title { font-family: 'Lobster', cursive; }
.profile .card-img-top { height: 265px; }
.profile .profile-img { border: 3px solid #ffffff; margin-top: -8rem; }
.social a { color: #212529; font-size: 20px; }
.social a i { width: 50px; height: 50px; }
.social .fa-linkedin-in:hover { color: #0d47a1; }
.social .fa-stack-overflow:hover { color: #ff6f00; }
.social .fa-facebook-f:hover { color: #0277bd; }
.social .fa-twitter:hover { color: #4fc3f7; }
.social a:hover { display: inline-block; position: relative; -moz-animation: bounce 2s infinite linear; -o-animation: bounce 2s infinite linear; -webkit-animation: bounce 2s infinite linear; animation: bounce 2s infinite linear;
}
@-webkit-keyframes bounce {
    0% { top: 0; }
    50% { top: -3px; }
    70% { top: -6px; }
    100% { top: 0; }
}
@-moz-keyframes bounce {
    0% { top: 0; }
    50% { top: -3px; }
    70% { top: -6px; }
    100% { top: 0; }
}
@-o-keyframes bounce {
    0% { top: 0; }
    50% { top: -3px; }
    70% { top: -6px; }
    100% { top: 0; }
}
@-ms-keyframes bounce {
    0% { top: 0; }
    50% { top: -3px; }
    70% { top: -6px; }
    100% { top: 0; }
}
@keyframes bounce {
    0% { top: 0; }
    50% { top: -3px; }
    70% { top: -6px; }
    100% { top: 0; }
}
.profile-links a { text-decoration: none; color: #212529; }
.profile-links a:hover { color: #1565C0; font-weight: bold; }
.pro-contact-btn::before { content: ''; position: absolute; left: 0; top: -17px; width: 1px; height: 50px;
    background: -moz-radial-gradient(top, ellipse cover, rgba(197, 202, 213, 0.7) 0%, rgba(255, 255, 255, 0) 70%);
    background: -webkit-radial-gradient(top, ellipse cover, rgba(197, 202, 213, 0.7) 0%, rgba(255, 255, 255, 0) 70%);
    background: radial-gradient(ellipse at top, rgba(197, 202, 213, 0.7) 0%, rgba(255, 255, 255, 0) 70%);
}
/*----------------Profile Style Ends Here-----------------*/

/*----------------Profile-Details Style Starts Here-----------------*/
.profile-details section { min-height: 539px; margin-top: 1rem; display: none; transition: all .75s ease; }
.profile-details .animated.active { opacity: 1; z-index: 10; display: block; margin-bottom: 1rem; }
.profile-details .animated.hidden { opacity: 0; z-index: 9; display: none; }
.profile-details section::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0); border-radius: .25rem; background-color: #FFFFFF; }
.profile-details section::-webkit-scrollbar { width: 7px; border-radius: 30px; background-color: #9e9e9e; }
.profile-details section::-webkit-scrollbar-thumb { border-radius: 10px; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); background-color: #9e9e9e; }

.profile-details .card-title::after { content: ''; position: absolute; left: -5%; bottom: -13px; width: 100%; height: 1px;
    background: -moz-radial-gradient(left, ellipse cover, rgba(197, 202, 213, 0.7) 0%, rgba(255, 255, 255, 0) 75%);
    background: -webkit-radial-gradient(left, ellipse cover, rgba(197, 202, 213, 0.7) 0%, rgba(255, 255, 255, 0) 75%);
    background: radial-gradient(ellipse at left, rgba(197, 202, 213, 0.7) 0%, rgba(255, 255, 255, 0) 75%);
}
.about-text::before, .pro-summary-text::before, .education-text::before, .technical-text::before, .career-text::before, .project-text::before, .contact-text::before, .contact-form::before { content: ''; position: absolute; left: 0; top: 0; width: 1px; height: 100%;
    background: -moz-radial-gradient(top, ellipse cover, rgba(197, 202, 213, 0.7) 0%, rgba(255, 255, 255, 0) 70%);
    background: -webkit-radial-gradient(top, ellipse cover, rgba(197, 202, 213, 0.7) 0%, rgba(255, 255, 255, 0) 70%);
    background: radial-gradient(ellipse at top, rgba(197, 202, 213, 0.7) 0%, rgba(255, 255, 255, 0) 70%);
}
.pro-summary-text ul li { list-style-type: circle; }

.timeline { position: relative; }
.timeline .timeline-event { position: relative; }
.timeline .timeline-event .timeline-content { position: relative; width: calc(50% - 35px); }
.timeline .timeline-event::before { display: block; content: ""; width: 2px; height: calc(50% - 30px); position: absolute; background: #d2d2d2; left: calc(50% - 1px); top: 0; }
.timeline .timeline-event::after { display: block; content: ""; width: 2px; height: calc(50% - 30px); position: absolute; background: #d2d2d2; left: calc(50% - 1px); top: calc(50% + 30px); }
.timeline .timeline-event:first-child::before { display: none; }
.timeline .timeline-event:last-child::after { display: none; }
.timeline .timeline-event:nth-child(even) .timeline-content { margin-left: calc(50% + 35px); }
.timeline .timeline-event:nth-child(odd) .timeline-content { margin-left: 0; }
.timeline .timeline-badge { display: block; position: absolute; width: 35px; height: 35px; background: #d2d2d2; top: calc(50% - 20px); right: calc(50% - 20px); border-radius: 50%; text-align: center; cursor: default; }
.timeline .timeline-badge i { font-size: 20px; line-height: 34px; }

/*----------------Profile-Details Style Ends Here-----------------*/

/*----------------Project-Details Style Starts Here-----------------*/

.project-text h6::before { content: ''; background: #1565C0; position: absolute; left: -20px; top: 4px; width: 8px; height: 8px; border-radius: 9px; -moz-border-radius: 9px; -webkit-border-radius: 9px; -khtml-border-radius: 9px; }

/*----------------Project-Details Style Ends Here-----------------*/

.contact-form input, textarea { border-radius: 0 !important; border: 0 !important; border-bottom: 1px solid #bdbdbd !important; font-size: 14px !important; }
.contact-form input:focus, textarea:focus { border-bottom: 1px solid #1565C0 !important; box-shadow: none !important; }
.contact-form input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder { color: #212529; }
/* Firefox > 19 */
.contact-form input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder { color: #212529; }
/* Internet Explorer 10 */
.contact-form input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder { color: #212529; }
.contact-form button:hover { color: #1565C0; }

#gmap_canvas { width: 490px; }
.mapouter{text-align:right;height:200px;width:490px;}
.gmap_canvas {overflow:hidden;background:none!important;height:200px;width:490px;}





/*@media only screen and (min-width: 1920px) { #page { margin: 17% auto !important; } }*/
/*@media only screen and (max-width: 1920px) { #page { margin: 17% auto !important; } }*/
/*@media only screen and (max-width: 1600px) { #page { margin: 11% auto !important; } }*/
/*@media only screen and (max-width: 1440px) {*/
    /*#page { margin: 12% auto !important; }*/
/*}*/

/*@media only screen and (max-width: 992px) {*/
    /*#page { margin: 12% auto; }*/
/*}*/

@media only screen and (max-width: 768px) {
    .header { position: fixed; top: -5px; left: 0; width: 100%; display: flex; text-align: center; align-items: center; justify-content: center; }
    .top-menu { -webkit-box-shadow: 0px 5px 11px 2px rgba(38,38,38,0.78); box-shadow: 0px 5px 11px 2px rgba(38,38,38,0.78); }
    .top-menu .nav-link { padding: 1.25rem 2rem; }
    .top-menu .nav-link span { padding-bottom: 5px; }
    .top-menu a:before { content: ''; position: absolute; left: 0; bottom: 0; width: 1px; height: 100%; background: -moz-radial-gradient(top, ellipse cover, rgba(197, 202, 213, 0.7) 0%, rgba(255, 255, 255, 0) 70%); background: -webkit-radial-gradient(top, ellipse cover, rgba(197, 202, 213, 0.7) 0%, rgba(255, 255, 255, 0) 70%); background: radial-gradient(ellipse at top, rgba(197, 202, 213, 0.7) 0%, rgba(255, 255, 255, 0) 70%); }

    #left-panel, #right-panel { margin-left: 16.66667%; }
    .social .fa-linkedin-in { color: #0d47a1; }
    .social .fa-stack-overflow { color: #ff6f00; }
    .social .fa-facebook-f { color: #0277bd; }
    .social .fa-twitter { color: #4fc3f7; }
    .profile-links a { color: #1565C0; }

    .education { margin-top: 7%; }
    .profile-background { visibility: hidden; }
    .profile-details section { border-top-left-radius: .25rem !important; border-bottom-left-radius: .25rem !important; margin-top: 0; max-height: unset; }

    .about-text::before, .pro-summary-text::before, .education-text::before, .technical-text::before, .career-text::before, .contact-text::before, .contact-form::before { background: none; }

    #gmap_canvas { width: 403px; }
    .mapouter{ text-align:right; height:200px; width:403px;}
    .gmap_canvas { overflow:hidden; background:none!important; height:200px; width:403px;}


}

@media only screen and (max-width: 600px) {
    #left-panel, #right-panel { margin-left: unset; }
    .timeline .timeline-event .timeline-content {
        width: calc(100% - 70px);
    }
    .timeline .timeline-event::before {
        left: 19px;
    }
    .timeline .timeline-event::after {
        left: 19px;
    }
    .timeline .timeline-event:nth-child(even) .timeline-content {
        margin-left: 70px;
    }
    .timeline .timeline-event:nth-child(odd) .timeline-content {
        margin-left: 70px;
    }
    .timeline .timeline-badge {
        left: 0;
    }
}

@media only screen and (max-width: 425px) {
    .top-menu .nav-link { padding: 1.5rem 13px; font-size: 13px; }
    .profile-background { visibility: hidden; }
    .profile { margin-top: 6%; }

    #gmap_canvas { width: 370px; }
    .mapouter{ text-align:right; height:200px; width:370px;}
    .gmap_canvas { overflow:hidden; background:none!important; height:200px; width:370px;}
}

@media only screen and (max-width: 375px) {
    .profile .card-img-top { height: 220px; }
    .top-menu .nav-link { padding: 1.5rem 9.5px; font-size: 12px; }

    #gmap_canvas { width: 319px; }
    .mapouter{ width:319px; }
    .gmap_canvas { width:319px; }
}

@media only screen and (max-width: 360px) {
    #gmap_canvas { width: 300px; }
    .mapouter{ width:300px; }
    .gmap_canvas { width:300px; }
}